
<ion-view view-title="About">
  <ion-content id="about">
    <div class="list card stable-bg">
      <div class="item item-avatar">
        <img src="img/jeshan.jpeg" style="max-width: 60px; max-height: 60px;">
        <h2>This app is brought to you by:</h2>
        <p>Jeshan G. BABOOA</p>
      </div>
      <div class="item item-body">
        I'm available for freelancing work, send an email to j@jeshan.co for inquiries.
      </div>
    </div>
    <div class="list card stable-bg">
      <div class="item item-avatar">
        <img src="img/logo.png" style="max-width: 60px; max-height: 60px;">
        <h2>Many thanks to:</h2>
        <p>Mauritius Software Craftsmanship <br/>Community</p>
      </div>
      <div class="item item-body">
        proud organiser of this conference and meetups of interest to developers around the island.
      </div>
    </div>
  </ion-content>
</ion-view>
