<ion-view view-title="DevCon 2016">
  <ion-content>
    <div class="im-wrapper">
      <!-- Ionic Components -->
      <h4 class="border-top">
        <i class="icon ion-ionic"></i>
        Topics
      </h4>
      <div class="card">
        <div class="item">
          <h2>Wev development</h2>
          <p>By Jochen and others</p>
        </div>
        <div class="list">
          <a class="item " ng-click="go()">
            Angular JS for starters
          </a>
          <a class="item">
            Building a complete lightweight API application in ASP.NET Web API including an E2E Testing framework
          </a>
          <a class="item">
            Powerful Enterprise Rich Internet Applications with ADF
          </a>
        </div>
        <div class="item item-body">
          <p>
            <a class="subdued">5 sessions</a>
          </p>
          <a class="button button-stable">
            More
          </a>
        </div>
      </div>

      <div class="card">
        <div class="item">
          <h2>Linux</h2>
          <p>By Cedric and others</p>
        </div>
        <div class="list">
          <a href="" class="item">
            Ubuntu 15.04 Release Party
          </a>
          <a href="" class="item">
            Debian and Ubuntu packaging workshop
          </a>
        </div>
        <div class="item item-body">
          <p>
            <a class="subdued">5 sessions</a>
          </p>
          <a class="button button-stable">
            More
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
