<ion-view view-title="Schedule">
  <ion-content>
    <ion-tabs class="tabs-striped">
      <ion-tab title="Friday, 20/5">
        <div class="list schedule-list">
          <a class="item item-avatar">
            <img src="img/material1.jpg">
            <h2>Badge</h2>
            <p>08:00 - 09:00</p>
          </a>
          <a class="item item-avatar">
            <img src="img/material2.jpg">
            <h2>Keynote</h2>
            <p>09:00 - 10:00</p>
          </a>
          <a class="item item-avatar">
            <img src="img/material3.jpg">
            <h2>10:00 - 11:00</h2>
            <p>Mauritius Software Craftsmanship Community</p>
          </a>
        </div>
      </ion-tab>

      <ion-tab title="Saturday, 21/5">
        <div class="list schedule-list">
          <a class="item item-avatar">
            <h2>Angular JS for starters</h2>
            <p>09:30 - 10:30</p>
          </a>
          <a class="item item-avatar">
            <h2>Web developer, make the most out of your database</h2>
            <p>10:30 - 11:30</p>
          </a>
        </div>
      </ion-tab>

      <ion-tab title="Sunday, 22/5">
        <div class="list schedule-list">
          <a class="item item-avatar">
            <h2>Azure keynote and overview</h2>
            <p>09:00 - 10:00</p>
          </a>
          <a class="item item-avatar">
            <h2>Virtual Machines</h2>
            <p>10:00 - 11:00</p>
          </a>
        </div>
      </ion-tab>
    </ion-tabs>
  </ion-content>
</ion-view>
