<ion-view view-title="Schedule">
  <ion-content>
    <ion-tabs class="tabs-striped tabs-top">
      <ion-tab title="Friday, 20/5" on-select="selectTab(1)">
        <div class="list schedule-list">
          <a class="item item-avatar" ng-repeat="event in events[0]" ng-click="showEventDetails(event)">
            <h2>{{event.title}}</h2>
            <h3 ng-if="event.speaker" style="font-style: italic">By {{event.speaker}}</h3>
            <p>{{event.time}}</p>
          </a>
        </div>
      </ion-tab>

      <ion-tab title="Saturday, 21/5" on-select="selectTab(2)">
        <div class="list schedule-list">
          <a class="item item-avatar" ng-repeat="event in events[1]" ng-click="showEventDetails(event)">
            <h2>{{event.title}}</h2>
            <h3 ng-if="event.speaker" style="font-style: italic">By {{event.speaker}}</h3>
            <p>{{event.time}}</p>
          </a>
        </div>
      </ion-tab>

      <ion-tab title="Sunday, 22/5" on-select="selectTab(3)">
        <div class="list schedule-list">
          <a class="item item-avatar" ng-repeat="event in events[2]" ng-click="showEventDetails(event)">
            <h2>{{event.title}}</h2>
            <h3 ng-if="event.speaker" style="font-style: italic">By {{event.speaker}}</h3>
            <p>{{event.time}}</p>
          </a>
        </div>
      </ion-tab>
    </ion-tabs>
  </ion-content>
</ion-view>
